In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression , LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
import pickle

In [2]:
df = pd.read_csv('ford.csv')


df.head()

df_new_column = columns = ["Model", "Yıl", "Fiyat", "Şanzıman", "Kilometre", "Yakıt Türü", "Vergi", "Yakıt Tüketimi", "Motor Hacmi" ]
df.columns = df_new_column
df.head(20)

df.info()
df.isnull().sum().sum()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Model           17966 non-null  object
 1   Yıl             17966 non-null  int64
 2   Fiyat           17966 non-null  int64
 3   Şanzıman        17966 non-null  object
 4   Kilometre       17966 non-null  int64
 5   Yakıt Türü      17966 non-null  object
 6   Vergi           17966 non-null  int64
 7   Yakıt Tüketimi  17966 non-null  float64
 8   Motor Hacmi     17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

,Model,Yıl,Fiyat,Şanzıman,Kilometre,Yakıt Türü,Vergi,Yakıt Tüketimi,Motor Hacmi
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0

In [211]:
df.shape

(17966, 9)

In [212]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)
df.shape

(17812, 9)

In [213]:
for column in df.select_dtypes(include='object').columns:
    unique_values = df[column].unique()
    print(f"Column '{column}' unique values =  {unique_values}" , end="\n\n")

Column 'Model' unique values =  [' Fiesta' ' Focus' ' Puma' ' Kuga' ' EcoSport' ' C-MAX' ' Mondeo' ' Ka+'
 ' Tourneo Custom' ' S-MAX' ' B-MAX' ' Edge' ' Tourneo Connect'
 ' Grand C-MAX' ' KA' ' Galaxy' ' Mustang' ' Grand Tourneo Connect'
 ' Fusion' ' Ranger' ' Streetka' ' Escort' ' Transit Tourneo' 'Focus']

Column 'Şanzıman' unique values =  ['Automatic' 'Manual' 'Semi-Auto']

Column 'Yakıt Türü' unique values =  ['Petrol' 'Diesel' 'Hybrid' 'Electric' 'Other']

## Encode İşlemi

In [214]:
le = LabelEncoder()
kategoric_column = df[["Model" , "Şanzıman" , "Yakıt Türü" ]]

label_encoders = {}
for i in kategoric_column:
    le = LabelEncoder()
    df[i] = le.fit_transform(df[i])
    label_encoders[i] = le

In [215]:
kategoric_column.head()
df.head()

,Model,Yıl,Fiyat,Şanzıman,Kilometre,Yakıt Türü,Vergi,Yakıt Tüketimi,Motor Hacmi
0,5,2017,12000,0,15944,4,150,57.7,1.0
1,6,2018,14000,1,9083,4,150,57.7,1.0
2,6,2017,13000,1,12456,4,150,57.7,1.0
3,5,2019,17500,1,10460,4,145,40.3,1.5
4,5,2019,16500,0,1482,4,145,48.7,1.0

## Train Test

In [216]:
from sklearn.model_selection import train_test_split


x = df.drop(columns='Fiyat')  
y = df['Fiyat']    
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size=0.2, random_state=0)

In [217]:
model = LinearRegression()

model.fit(x_train, y_train)

y_pred = model.predict(x_test)
y_pred[:10]

array([19719.86977486, 18271.52571168, 17418.0164979 ,  8651.94114017,
       15487.50190049, 13629.79342231, 10102.09718761,  7682.92822821,
       13735.94110563, 11519.04202988])

In [218]:
np.sqrt(mean_squared_error(y_test, y_pred))
model.score(x_test , y_test)

0.7218711682798387

In [219]:
model = model.predict(x_test)

In [220]:
model = LinearRegression()
model.fit(x_train, y_train)

with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)